.layers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 320px;
  margin: 2px 0;
}

.layerSlider {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  overflow-y: auto;
  padding-right: 4px;
}
