.layer-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.layer-delete-btn {
    width: 20px;
    height: 20px;
    background: none;
    padding: 0;
}

.opacity-50 {
    opacity: 50%;
}
