.layer-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.layer-btn-icon {
    width: 20px;
    height: 20px;
    background: none;
    padding: 0;
}

.opacity-50 {
    opacity: 50%;
}

.layer-opt-btn {
    display: flex;
    background: none;
    gap: 8px;
}
