:root {
  --primary-color-highlight: #8c1e55;
  --primary-color-light: #d06e9f;
  --primary-color-dark: #8c1e55;
  --primary-color: #8c1e55;
  --background: #242424;
  --background-darker: #121212;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 4px;
  font-size: 0.8em;
}

label {
  font-size: 0.8em;
}

span {
  font-size: 0.8em;
}

hr {
  border: none;
  height: 1px;
  background: var(--primary-color-light);
  margin: 8px 0;
}

br::after {
  content: "";
  display: block;
  margin-bottom: 10px;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  min-height: 32px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-darker);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: 1px solid;
  border-color: var(--primary-color-highlight);
}

button:focus {
  outline: none;
}

input[type="range"] {
  accent-color: var(--primary-color-light);
  height: 5px;
}

.icon-button:hover .icon {
  --icon-color: white;
}
