#layers-tool {
    display: flex;
    flex-direction: column;
    min-width: 356px;

    #layer-tool-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 180px;
        overflow-y: auto;
    }

    .layer-node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
}
