#tools {
  --tools-width: 300px;
  position: absolute;
  width: var(--tools-width);
  left: calc(50% - (var(--tools-width) / 2));
  top: -90px;
  height: 56px;

  padding: 0 var(--spacing-6);
  gap: var(--spacing-8);
  background-color: var(--color-bg-fill-brand);
  border: 2px solid var(--colors-gray-20);
  border-radius: var(--border-radius-12);
  flex-direction: row;
  align-items: center;

  display: flex;
  justify-content: center;
}

.brush-popover {
  display: none;
  position: absolute;
  left: 0;
  bottom: calc(100% + 12px);
}

.brush-popover input {
  width: 100px;
  padding: 12px 8px;
}

.brush-popover.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px 8px 0px 8px;

  background-color: var(--color-bg-fill-brand);
  border: 2px solid var(--colors-gray-20);
  border-radius: var(--border-radius-12);

  label {
    color: black;
  }
}

.brush-slide {
  display: flex;
  align-items: center;
}

.brush-thickness-input {
  width: 96px;
  height: 24px;
  margin: 0;
  transform-origin: center;
}

.tool-color-picker {
  display: block;
  width: 28px;
  height: 28px;
  min-width: 28px;
  padding: 0;
  border: 0;
  border-radius: 999px;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}

.tool-color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.tool-color-picker::-webkit-color-swatch {
  border: 2px solid var(--colors-gray-20);
  border-radius: 999px;
}

.tool-color-picker::-moz-color-swatch {
  border: 2px solid var(--colors-gray-20);
  border-radius: 999px;
  width: 30px;
}

#tools .tool-btn.active {
  background-color: #defe05;
  color: black;
}

#tools .tool-btn.active .icon {
  --icon-color: black;
}

.tools-separator {
  width: 1px;
  height: 24px;
  margin: 0;
  border: 0;
  background: var(--colors-gray-20);
}
