.slider {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: 32px;

  .slider-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    flex: 1;

    input {
      min-width: 130px;
      width: 100%;
    }
  }
}

.slider label {
  min-width: 84px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
