.slider {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: 30px;

  .slider-container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 8px;
    flex: 1;

    p {
      min-width: 40px;
    }
  }
}
