#layers {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 4px;
  gap: 2px;
  height: 300px;
}

#layer-info {
  flex: 1;
  display: flex;
  min-height: 250px;
}

#layer-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.layer-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.active-layer {
  background-color: #defe05;
  color: black;
}

.active-layer .icon {
  --icon-color: black;
}

.layer-opt-btn {
  display: flex;
  align-items: center;
  gap: 2px;
}

.layer-btn-icon {
  flex: 0 0 auto;
}

#preview-canvas {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#preview-canvas.preview-canvas-hidden {
  display: none;
}
