#right-panel {
    min-width: 300px;
    max-width: 300px;
    position: absolute;
    gap: 8px;
    right: 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: #242424;

    #layers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        height: 400px;

        #layer-slider {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 8px;
            max-height: 400px;
            overflow-y: auto;
        }
    }

    .active-layer {
        background-color: #402d53;
    }

    button {
        max-height: 42px;

        p {
            margin: 0;
        }
    }

    #layer-preview {
        margin-top: 16px;
    }
}
