#tools {
  margin: 4px 0 4px 0;
  padding: 0 4px 0 4px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 8px;

  input {
    width: 100%;
  }

  button:focus {
    outline: none;
  }

  .menu-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .active {
    background-color: #402d53;
  }
}

#menu-options {
  position: absolute;
  left: 62px;
  top: 0px;
  background-color: #242424;
  padding: 8px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
