#editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
  }
}

#editor #main-canvas {
  flex: 1;
  height: 100dvh;
}

#editor #preview-canvas {
  width: 250px;
  height: 250px;
}
